<h2><span <i class="fa fa-shopping-cart"></i>My Cart</h2>
<% if current_order.order_items.size > 0 %>
	<div class="cart_item">
		<%= render "carts/cart_item" %>
		<%= link_to 'Order Now', order_now_carts_path(current_order, order_items: @order_items), method: :post, class: 'btn btn-success' %>

	</div>
<% else %>
	<div class="cart_item">
		<h3>There are no food in your cart right now!!!</h3>
	</div>
<% end %>
