<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your order has just been delivered!</p>
    <p>
    Order details<br>
    --------------------------
    <br>
      <% @product_ids.each do |id| %>
        <% product = Product.find id %>
        <%= "#{product.title}    Price: #{product.price}"%>
        <br />
      <% end %>
    </p>

    Thanks,
    <br>
    Dipak's Cafe